html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#main-bar {
	width: 100%;
	height: 55px;
	background-color: #24282e;
} 

#logo {
	width: 125px;
}

#idBtnHome {
  position: absolute;
  right: 100px;
  top: 10px;
  color: white;
}

#idBtnAboutus {
  position: absolute;
  right: 20px;
  top: 10px;
  color: white;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    height: 300px;
}

