html {
  height: 100%;
  width: 100%;
  overflow-x: hidden; 
  margin-left: 0px;
}
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
  background: white;
  width: 100%;
}
#main-bar {
	width: 100%;
	height: 55px;
	background-color: #24282e;
}
#logo {
	width: 125px;
  margin-left: 5px;
}

#idBtnHome {
  position: absolute;
  right: 100px;
  top: 10px;
  color: white;
}

#idBtnAboutus {
  position: absolute;
  right: 20px;
  top: 10px;
  color: white;
}
.nav-link {
  font-weight: 700;
  border-radius: 0px !important;
  background-color: #24282e;
  color: white;
}
.row {  
  margin-left: 0px !important;
  margin-right: 0px !important;
      height: calc(100% - 55px) !important;
}

.selected {
  background-color: #337ABC;
  color: white !important;
  width: 100% !important;
}
#sideCol2{
  overflow-x: auto;
  height: 100%;
}
#sideCol{
  /*height: calc(100% - 55px);*/
  height: 100%;
  right: 1px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #2b2e33 !important;
}
form{
  padding-top: 10px;
}
#last{
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
/*----------------------------------*/

.nav-link:hover {
  background-color: #729ac0;
  color: white;
}
.fullHeight{
  height: 100% !important;
}
.noPadding{
  padding: 0px 0px !important;
}
.firstRow{
  margin-top: 20px;
}
.noRadius{
  border-radius: 0px !important;
}
/*
.t{
  display: table-cell !important;
  vertical-align: middle;
}*/
.mine{
  display: table !important;
  table-layout: fixed !important;
  box-sizing: border-box;
}
.posBtns {
  margin-top: 2px;
  text-align: center;
  margin-right: 1px;
}
#divOrderType {
  display: flex;
  flex-wrap: wrap;
}
#divOrderType>* {
  flex: 1 1 22%;
}
#idOrderGrid{
  height: 100%;
}

#v-pills-Order{
  height: 100%;
}


#divMultiplier {
  display: flex;
  flex-wrap: wrap;
}
#divMultiplier>* {
  flex: 1 1 9%;
}
.itemsGrid {
  width:100%; 
  height: 65px; 
  white-space: normal !important; 
  text-align: center !important;
  color: #337ABC !important;
  font-weight: 600 !important;
}
#v-pills-Order-tab {
  display: none;
}
#orderDetails {
  height: calc(100vh - 250px) !important;
}
#orderDetailsSmall {
  height: calc(100vh - 370px) !important;
}
#orderSection {
  height: 100%;
}

.squared{
  border-radius: 0px !important;
}

.checkoutOptions {
  display: flex;
  flex-wrap: wrap;
}
.checkoutOptions>* {
  margin-bottom: 5px;
  flex: 1 1 45%;
}
.selectedBtn {
  background-color: #b2cce4 !important;
}
.quantity{
  float: left;
  width: 55px;
  height: 33.60px;
}
.quantityMod{
  float: left;
  height: 33.60px;
  width: 35px;
  border-radius: 5px;
  border-width: 0em;
}
.modal-header {
  display: inline-block !important;
}
.titleprice {
  display: flex;
  flex-wrap: wrap;
}
.divListItem {
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(106, 190, 223);
}
.divListItem>* {
  flex: 1 1 22%;
}
.sectionItemName, .sectionQuantity, .sectionPriceTimesQuantity {
  font-weight: 800;
  background-color: white;
  margin-top: 5px;
  color: #337ABC;
}
.sectionQuantity {
  text-align: left;
}
.sectionItemName {
  text-align: left;
}
.sectionPriceTimesQuantity {
  text-align: right;
}
.listMod {
  font-size: 8px !important;
}
#orderSection2 {
  height: calc(100% - 120px) !important;
}
/*
.modBtn{
  padding: 2px !important;
  height: 34px !important;
  overflow: hidden;
}
.modBtnInnerDiv{
  display: flex;
} 
.divModifierQuantity {
  flex: 0 0 65%;
} 
.divModName {
  flex: 1;
  padding-top: 4px !important;
}  */

.btnModQuantity {
  padding: 0px 2px 1px 2px;
  margin-left: 1px;
  border-radius: 2px;
  width: 25px;
  height: 75%;
  border-style: none;
  color: white;
  text-align: center;
}

.openOrderName {
  width: 100% !important;
  margin-top: 3px;
}




/* <= 991*/
@media only screen and (max-width: 991px) {
  #orderSection{
    display: none;
  }
  #v-pills-Order-tab {
    display: block;
  }
}
.scroll {
  overflow: scroll !important;
}
/* > 992*/
@media only screen and (min-width: 992px) {
  #v-pills-Order{
    display: none;
  }
}
@media only screen and (max-width: 525px) {
    #orderSection2 #orderDetails {
        height: 440.415px;
    }
}
/* <= 767*//*
@media only screen and (max-width: 767px) {
  #orderSection{
    display: none;
  }
  #v-pills-Order-tab {
    display: block;
  }
}
/* > 767
@media only screen and (min-width: 768px) {
  #v-pills-Order{
    display: none;
  }
}*/
