html {
  height: 100%;
  width: 100%;
  overflow-x: hidden; 
  margin-left: 0px;
}
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
  background: white;
  width: 100%;
}
#main-bar {
	width: 100%;
	height: 55px;
	background-color: #24282e;
}
#logo {
	width: 125px;
}

#idBtnHome {
  position: absolute;
  right: 100px;
  top: 10px;
  color: white;
}

#idBtnAboutus {
  position: absolute;
  right: 20px;
  top: 10px;
  color: white;
}
.nav-link {
  font-weight: 700;
  border-radius: 0px !important;
  background-color: #24282e;
  color: white;
}
.row {  
  margin-left: 0px !important;
  margin-right: 0px !important;
      height: calc(100% - 55px) !important;
}

.selected {
  background-color: #337ABC;
  color: white !important;
  width: 100% !important;
}
#sideCol2{
  overflow-x: auto;
  height: 100%);
}
#sideCol{
  /*height: calc(100% - 55px);*/
  height: 100%);
  right: 1px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #2b2e33 !important;
}
form{
  padding-top: 10px;
}
#last{
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
/*----------------------------------*/

.nav-link:hover {
  background-color: #729ac0;
  color: white;
}
.fullHeight{
  height: 100% !important;
}
.noPadding{
  padding: 0px 0px !important;
}
.firstRow{
  margin-top: 20px;
}
.noRadius{
  border-radius: 0px !important;
}

.t{
  display: table-cell !important;
  vertical-align: middle;
}
.mine{
  display: table !important;
  table-layout: fixed !important;
  box-sizing: border-box;
}
.posBtns {
  margin-top: 2px;
  text-align: center;
  margin-right: 1px;
}
#divOrderType {
  display: flex;
  flex-wrap: wrap;
}
#divOrderType>* {
  flex: 1 1 22%;
}

#divMultiplier {
  display: flex;
  flex-wrap: wrap;
}
#divMultiplier>* {
  flex: 1 1 9%;
}
#itemsGrid {
  width:100%; 
  height: 65px; 
  white-space: normal; 
  text-align: center;
  color: #337ABC;
  font-weight: 600;
}
#v-pills-Order-tab {
  display: none;
}
#orderDetails {
  height: calc(100vh - 205.50px)
}
#orderSection {
  height: 100%;
}
#orderSection2{
max-height: 100%;
}
#v-pills-Order{
  height: 100% ;
}
.checkoutOptions {
  display: flex;
  flex-wrap: wrap;
}
.checkoutOptions>* {
  margin-bottom: 5px;
  flex: 1 1 45%;
}
.selectedBtn {
  background-color: #b2cce4 !important;
}
.quantity{
  float: left;
  width: 55px;
  height: 33.60px;
}
.quantityMod{
  float: left;
  height: 33.60px;
  width: 35px;
  border-radius: 5px;
  border-width: 0em;
}
/* <= 991*/
@media only screen and (max-width: 991px) {
  #orderSection{
    display: none;
  }
  #v-pills-Order-tab {
    display: block;
  }
}
/* > 992*/
@media only screen and (min-width: 992px) {
  #v-pills-Order{
    display: none;
  }
}
@media only screen and (max-width: 525px) {
    #orderSection2 #orderDetails {
        height: 463.415px;
    }
}
/* <= 767*//*
@media only screen and (max-width: 767px) {
  #orderSection{
    display: none;
  }
  #v-pills-Order-tab {
    display: block;
  }
}
/* > 767
@media only screen and (min-width: 768px) {
  #v-pills-Order{
    display: none;
  }
}*/
