html {
	height: 100%;
}
body {
	height: calc(100% - 55px);
	margin: 0px;
	padding: 0px;
	background: rgb(129,123,126);
	background: radial-gradient(circle, rgb(241, 241, 241) 0%, rgb(251, 251, 251) 100%);
}
#main-bar {
	width: 100%;
	height: 55px;
	background-color: #24282e;
}
#logo {
	width: 125px;
  margin-left: 5px;
}

#idBtnHome {
  position: absolute;
  right: 100px;
  top: 10px;
  color: white;
}

#idBtnAboutus {
  position: absolute;
  right: 20px;
  top: 10px;
  color: white;
}

/*--------------*/
#close {
  width: 100%;
  height: 50px;
  background-color: #337ABC;
  color: white;
  margin: 2px;
  border-style: solid;
  border-color: #b4b4b4;
  border-radius: 4px;
  cursor: pointer;
}

#close:hover {
  background-color: rgb(103, 145, 194);
}

.container {
	display: grid;
  height: 100%;
	grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto repeat(6, 1fr);
}
.divSuccess {
  margin-top: 50px;
  display: hidden;
  height: 90%;
  border-radius: 5px;
  background-color: none;
  /*margin: 0 20%;*/
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  /*grid-row-end: 4;*/
}
.formDescription {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}
.description {
  color: white;
  padding-top: 40px;
}

#idBtnPosRegister {

  margin-top: 25px;
}

@media screen and (max-height: 3000px) {
  .form {

   height: 110px;

   } 
 }

 @media screen and (max-height: 550px) {
   html {
     height: 550px;
   }
 }


 @media screen and (max-width: 992px) {
  .form {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}
@media screen and (max-width: 576px) {
  .form {
    grid-column-start: 1;
    grid-column-end: 7;
    margin-left: 40px;
    margin-right: 40px;
  }
}

